.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.976108;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.031738;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.973656;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._9{margin-left:-2.962283px;}
._1{margin-left:-1.591923px;}
._0{width:1.080935px;}
._2{width:2.525115px;}
._a{width:3.762591px;}
._3{width:4.878491px;}
._4{width:6.597475px;}
._8{width:75.116995px;}
._b{width:83.146995px;}
._6{width:401.346883px;}
._7{width:429.684295px;}
._5{width:565.886691px;}
.fc4{color:rgb(255,255,255);}
.fc0{color:rgb(124,124,124);}
.fc1{color:rgb(70,133,198);}
.fc2{color:rgb(44,54,63);}
.fc3{color:rgb(0,0,0);}
.fs4{font-size:31.993853px;}
.fs0{font-size:35.650293px;}
.fs5{font-size:40.220843px;}
.fs2{font-size:48.447834px;}
.fs3{font-size:55.760714px;}
.fs1{font-size:92.325117px;}
.y0{bottom:1.500000px;}
.y1{bottom:1.704319px;}
.y2{bottom:17.368089px;}
.y4c{bottom:88.897202px;}
.y4b{bottom:111.292899px;}
.y4a{bottom:132.545958px;}
.y2f{bottom:137.345036px;}
.y2e{bottom:152.199324px;}
.y50{bottom:164.082755px;}
.y49{bottom:164.311283px;}
.y2d{bottom:176.880296px;}
.y48{bottom:185.107287px;}
.y2c{bottom:190.134892px;}
.y2b{bottom:203.846544px;}
.y47{bottom:205.903291px;}
.y46{bottom:226.699295px;}
.y2a{bottom:228.070460px;}
.y4f{bottom:239.953891px;}
.y45{bottom:247.495299px;}
.y29{bottom:252.751432px;}
.y28{bottom:266.006028px;}
.y44{bottom:278.346514px;}
.y27{bottom:279.717680px;}
.y43{bottom:288.630253px;}
.y42{bottom:299.599574px;}
.y26{bottom:306.912454px;}
.y41{bottom:317.881775px;}
.y25{bottom:320.167050px;}
.y40{bottom:328.165513px;}
.y24{bottom:333.878701px;}
.y3f{bottom:339.134834px;}
.y23{bottom:351.018265px;}
.y3e{bottom:357.417036px;}
.y3d{bottom:367.700774px;}
.y22{bottom:381.869480px;}
.y3c{bottom:383.012118px;}
.y21{bottom:393.067328px;}
.y20{bottom:404.036649px;}
.y3b{bottom:415.234498px;}
.y1f{bottom:422.318851px;}
.y1e{bottom:433.516699px;}
.y3a{bottom:434.887864px;}
.y1d{bottom:451.798901px;}
.y39{bottom:454.541231px;}
.y1c{bottom:462.996749px;}
.y38{bottom:474.194597px;}
.y1b{bottom:478.308093px;}
.y37{bottom:489.505941px;}
.y1a{bottom:510.073418px;}
.y36{bottom:520.357156px;}
.y4e{bottom:521.956849px;}
.y35{bottom:529.269729px;}
.y19{bottom:534.754390px;}
.y34{bottom:540.010523px;}
.y18{bottom:548.008986px;}
.y33{bottom:555.321866px;}
.y17{bottom:561.720637px;}
.y16{bottom:585.944554px;}
.y32{bottom:593.257434px;}
.y4d{bottom:597.827985px;}
.y15{bottom:610.625526px;}
.y31{bottom:613.824911px;}
.y14{bottom:623.880122px;}
.y30{bottom:634.392388px;}
.y13{bottom:637.591773px;}
.y12{bottom:654.731337px;}
.yb{bottom:696.323345px;}
.ya{bottom:707.292666px;}
.y11{bottom:709.577941px;}
.y9{bottom:718.261987px;}
.y8{bottom:729.231308px;}
.y10{bottom:729.459835px;}
.y7{bottom:740.200628px;}
.yf{bottom:749.341729px;}
.y6{bottom:751.169949px;}
.y5{bottom:762.139270px;}
.ye{bottom:769.223623px;}
.y4{bottom:780.649999px;}
.yd{bottom:789.105517px;}
.y3{bottom:798.475146px;}
.yc{bottom:808.987411px;}
.hb{height:24.354858px;}
.h9{height:25.666943px;}
.h3{height:27.138270px;}
.h6{height:28.600308px;}
.ha{height:32.267014px;}
.h8{height:36.832655px;}
.h5{height:38.867085px;}
.h7{height:42.392301px;}
.h4{height:74.067465px;}
.h2{height:840.295681px;}
.h1{height:840.500000px;}
.h0{height:842.000000px;}
.w1{width:594.857128px;}
.w0{width:595.000000px;}
.x0{left:0.000000px;}
.x1{left:25.063041px;}
.x2{left:38.339062px;}
.x7{left:47.915793px;}
.x8{left:303.727354px;}
.x9{left:310.493910px;}
.x5{left:461.854114px;}
.x3{left:476.708403px;}
.x6{left:478.308095px;}
.x4{left:495.601200px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._9{margin-left:-3.949711pt;}
._1{margin-left:-2.122564pt;}
._0{width:1.441247pt;}
._2{width:3.366820pt;}
._a{width:5.016788pt;}
._3{width:6.504655pt;}
._4{width:8.796634pt;}
._8{width:100.155994pt;}
._b{width:110.862660pt;}
._6{width:535.129177pt;}
._7{width:572.912394pt;}
._5{width:754.515589pt;}
.fs4{font-size:42.658470pt;}
.fs0{font-size:47.533724pt;}
.fs5{font-size:53.627791pt;}
.fs2{font-size:64.597112pt;}
.fs3{font-size:74.347619pt;}
.fs1{font-size:123.100156pt;}
.y0{bottom:2.000000pt;}
.y1{bottom:2.272425pt;}
.y2{bottom:23.157452pt;}
.y4c{bottom:118.529603pt;}
.y4b{bottom:148.390532pt;}
.y4a{bottom:176.727944pt;}
.y2f{bottom:183.126714pt;}
.y2e{bottom:202.932433pt;}
.y50{bottom:218.777007pt;}
.y49{bottom:219.081711pt;}
.y2d{bottom:235.840395pt;}
.y48{bottom:246.809716pt;}
.y2c{bottom:253.513190pt;}
.y2b{bottom:271.795391pt;}
.y47{bottom:274.537722pt;}
.y46{bottom:302.265727pt;}
.y2a{bottom:304.093947pt;}
.y4f{bottom:319.938522pt;}
.y45{bottom:329.993733pt;}
.y29{bottom:337.001910pt;}
.y28{bottom:354.674705pt;}
.y44{bottom:371.128686pt;}
.y27{bottom:372.956906pt;}
.y43{bottom:384.840337pt;}
.y42{bottom:399.466098pt;}
.y26{bottom:409.216606pt;}
.y41{bottom:423.842367pt;}
.y25{bottom:426.889400pt;}
.y40{bottom:437.554018pt;}
.y24{bottom:445.171602pt;}
.y3f{bottom:452.179779pt;}
.y23{bottom:468.024354pt;}
.y3e{bottom:476.556048pt;}
.y3d{bottom:490.267699pt;}
.y22{bottom:509.159307pt;}
.y3c{bottom:510.682824pt;}
.y21{bottom:524.089771pt;}
.y20{bottom:538.715532pt;}
.y3b{bottom:553.645997pt;}
.y1f{bottom:563.091801pt;}
.y1e{bottom:578.022266pt;}
.y3a{bottom:579.850486pt;}
.y1d{bottom:602.398534pt;}
.y39{bottom:606.054974pt;}
.y1c{bottom:617.328999pt;}
.y38{bottom:632.259463pt;}
.y1b{bottom:637.744124pt;}
.y37{bottom:652.674588pt;}
.y1a{bottom:680.097890pt;}
.y36{bottom:693.809541pt;}
.y4e{bottom:695.942465pt;}
.y35{bottom:705.692972pt;}
.y19{bottom:713.005853pt;}
.y34{bottom:720.014030pt;}
.y18{bottom:730.678648pt;}
.y33{bottom:740.429155pt;}
.y17{bottom:748.960849pt;}
.y16{bottom:781.259405pt;}
.y32{bottom:791.009912pt;}
.y4d{bottom:797.103980pt;}
.y15{bottom:814.167368pt;}
.y31{bottom:818.433215pt;}
.y14{bottom:831.840162pt;}
.y30{bottom:845.856517pt;}
.y13{bottom:850.122364pt;}
.y12{bottom:872.975116pt;}
.yb{bottom:928.431127pt;}
.ya{bottom:943.056888pt;}
.y11{bottom:946.103921pt;}
.y9{bottom:957.682649pt;}
.y8{bottom:972.308410pt;}
.y10{bottom:972.613113pt;}
.y7{bottom:986.934171pt;}
.yf{bottom:999.122306pt;}
.y6{bottom:1001.559932pt;}
.y5{bottom:1016.185694pt;}
.ye{bottom:1025.631498pt;}
.y4{bottom:1040.866665pt;}
.yd{bottom:1052.140690pt;}
.y3{bottom:1064.633527pt;}
.yc{bottom:1078.649882pt;}
.hb{height:32.473144pt;}
.h9{height:34.222591pt;}
.h3{height:36.184361pt;}
.h6{height:38.133744pt;}
.ha{height:43.022686pt;}
.h8{height:49.110207pt;}
.h5{height:51.822781pt;}
.h7{height:56.523068pt;}
.h4{height:98.756620pt;}
.h2{height:1120.394242pt;}
.h1{height:1120.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:793.142837pt;}
.w0{width:793.333333pt;}
.x0{left:0.000000pt;}
.x1{left:33.417389pt;}
.x2{left:51.118749pt;}
.x7{left:63.887724pt;}
.x8{left:404.969806pt;}
.x9{left:413.991880pt;}
.x5{left:615.805485pt;}
.x3{left:635.611204pt;}
.x6{left:637.744127pt;}
.x4{left:660.801600pt;}
}
